<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Game Result </title>
        <link th:href="@{/styles/css/style.css}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div>
            <p>No winner - it's a draw. </p>
        </div>
        <div>
            <h3>Game Summery</h3>
            <table>
                <tr>
                    <th th:text="${game.player1.playerName}"></th>
                    <th th:text="${game.player2.playerName}"></th>
                </tr>
                <tr>
                    <td th:text="${game.player1.move}"></td>
                    <td th:text="${game.player2.move}"></td>
                </tr>
            </table>
        </div>
        <div id="play">
            <a class="new-game-link" href="/game/play">Play again</a>
        </div>
    </body>
</html>